bottle==0.12.16
certifi==2018.11.29
chardet==3.0.4
click==5.1
colorama==0.4.1
colorlog==4.0.2
ecdsa==0.13.3
esphomeyaml==1.10.1
esptool==2.6
idna==2.8
paho-mqtt==1.4.0
platformio==4.0.0a3
protobuf==3.6.1
pyaes==1.6.1
pyserial==3.4
pytz==2018.9
PyYAML==4.2b1
requests==2.21.0
semantic-version==2.6.0
six==1.12.0
tornado==5.1.1
typing==3.6.6
tzlocal==1.5.1
urllib3==1.24.1
voluptuous==0.11.5
